body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gray;
}

.quiz-container {
    width: 50%;
    margin: 50px auto;
    background: gray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.correct {
    background-color: #4CAF50;
}

.wrong {
    background-color: #FF5252;
}

.option:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.5s;
}

#result {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}